
@font-face{
	font-family:'helvetica';
	src:url('/fonts/Helvetica.otf');
}

body{
	font-family:helvetica;
	color:gray;
	//background-color:black;
	
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
  cursor:default;
  
  overflow-x:hidden;
}

a{
	color:silver;	
}

a:active{
	color:gray;
}

a:visited{
	color:silver;
	text-decoration:none;
}

::webkit-scrollbar{
	width:100px;
}

#navbar-top{
	display:block;
	position:fixed;
	left:0px;
	top:0px;
	padding:10px 20px;
	width:100%;
	z-index:2;
	
	box-shadow:0px 1px 5px black;
}

h1{
	font-size:20pt;
	display:block;
}

.clearTransparent{
	background-color:rgba(50,50,50,0.4);
	border:solid 1px silver;
}

.collectionFooter{
	display:block;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	z-index:2;
	text-shadow:1px 1px 5px rgba(0,0,0,0.3);
	text-align:center;
	box-shadow:0px -1px 5px black;
}

.contain-collection-title-bottom{
	font-size:14pt;
	color:white;
	padding:20px;
}

.contain-collection-title-bottom{
	display:inline-block;
}

.collection-title-bottom{
	cursor:pointer;
	text-shadow:2px 2px 2px black;
}

#btnEditCollection{
	background:transparent;
	border:none;
	color:white;
	cursor:pointer;
	text-shadow:2px 2px 0px black;
	font-size:12pt;
	margin-left:-25px;

	
}

#btnEditCollection:hover{
	color:white;
	font-weight:bold
}

#btnEditCollection:active{
	color:gray;
}

.Notifications{
	display:block;
	position:fixed;
	left:0px;
	bottom:64px;
	width:100%;
	z-index:3;
	background-color:rgba(0,0,0,0.7);
	padding:20px;
	padding-right:100px;
	color:white;
	text-shadow:1px 1px 2px rgba(0,0,0,1);
	text-align:center;
}

.Notifications span{
	display:inline-block;
	font-size:12pt;
}

#fullscreenNotifs{
	position:absolute;
	bottom:0px;
	font-size:12pt;
	background-color:rgba(0,0,0,0.5);
	z-index:99999;
	font-size:18pt;
	color:rgba(130,130,130,1);
	text-shadow: 2px 2px 2px black;
}

#regularNotifications{
	text-shadow: 2px 2px 2px black;
}


#header{
	font-size:12pt;
	z-index:3;
	right:20px;
	position:fixed;
	color:darkgray;
}

#bottomLeftButtonsContainer{
	position:absolute;
	display:inline-block;
	left:0px;
	padding-top:10px;
	padding-left:20px;
}

#btnLibrariesDropdown{
	width:100px;
}

#dropDownLibraries{
	display:none;
	position:absolute;
	bottom:64px;
	left:0px;
	overflow-x:hidden;
	overflow-y:auto;
	background-color:rgba(0,0,0,0.8);
	box-shadow:1px -1px 5px black;
	border:none;
	border-bottom:none;
}

#blueCircle{
	position:absolute;
	right:20px;
	width:12px;
	height:12px;
}

.libraryMenuItem{
	width:100%;
	font-size:12pt;

	text-shadow:1px 1px 1px black;
	padding:15px 20px;
	padding-right:66px;	
	color:silver;
	cursor:pointer;
	text-align:left;
	border-bottom:solid 1px rgba(100,100,100,0.4);
	box-sizing:border-box;
	
}

.libraryCounter{
	color:gray;
	font-size:12pt;
	margin-left:10px;
}

.libraryCounter.hover{
	color:darkgray;
}


.libraryMenuItem:hover{
	color:white;
	
	border-bottom-color:white;
}
.libraryMenuItem:active{
	color:silver;
	background-color:rgba(255,255,255,0.5);
}

.btnNewLibrary{
	text-align:center;
	padding-left:0px;
	padding-right:0px;
}
.btnNewLibrary:hover{
}

#header sup{
	font-size:8pt;
}

#inputForm{
	width:100%;
}

#inputForm input,#inputForm select,#inputForm option{
	font-size:12pt;
	padding:10px;
}

.superButton{
	height:42px;
	padding:0px 15px;
	background-color:rgba(100,100,100,0.4);
	/*border:solid 1px silver;*/
	border:solid 1px silver;
	color:white;
	font-size:12pt;
	margin:0px;
	
}

.superButton:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0.67+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#abffffff',GradientType=0 ); /* IE6-9 */

}

.superButton:active{
	background-color:rgba(90,90,90,0.6);
}

.pressed{
	background:rgba(50,50,50,0.8);
}
.pressed:hover{
	background:rgba(50,50,50,0.8);
}
.pressed:active{
	background:rgba(50,50,50,0.8);
}

#btnCollections{
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

#btnRenameCollection{
	border-radius:0px;
}

#btnDeleteCollection{
	border-radius:0px;
}

#btnExport{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

#submitFormContainer{
	display:inline;
}

#submitFormContainer:focus{
	border:solid 2px lightblue;
}

#txtInput{
	width:40%;
	opacity:0.9;
	margin-right:-5px;
}

#txtInput:focus{
	border:inset solid 2px lightblue;
}

#btnSubmit{
	margin-left:0px;
	left:0px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

#divCollections{
	display:inline;
	
}


.rounded{
	border-radius:7px;
	margin:0px;
}

button:focus{
	outline:0;
}

#dropdown{
	width:12em;
	opacity:0.9;
}

#collectionsUIParent{
	position:relative;
	display:inline-block;
}

#collectionsContainer{
	font-size:10pt;
	display:inline-block;
	position:relative
	background-color:rgba(50,50,50,0.4);
	/*box-shadow:0px 2px 4px black;*/
	left:0px;
	top:64px;
	box-sizing:border-box;
	padding-top:15px;
	width:100%;
	
	
	
}

.collectionItem{
	border:solid 1px gray;
	margin-right:5px;
	margin-bottom:5px;
	border-radius:10px;
	display:inline-block;
	padding:10px;
	color:white;
	padding-right:10px;
}

.collectionItem:hover{
	
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100&0.5+0,0.69+100;Wax+3D+%232 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(233,233,233,0.69) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(233,233,233,0.69) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(233,233,233,0.69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fcfff4', endColorstr='#b0e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.collectionItemClicked{
	background-color:rgba(80,80,80,0.8);
}

.collectionItemClicked:hover{
	background:rgba(70,70,70,0.8);
}

.collectionCounter{
	color:silver;
	font-size:10pt;
	margin-left:10px;
}

.editCollectionItem{
	margin-left:5px;
	color:gray;
	text-decoration:none;
	display:none;
}

.editCollectionItem:hover{
	text-shadow:1px 1px 1px black;
}

#btnNewCollection{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008a00+23,005700+100 */
color:white;
padding-left:15px;padding-right:15px;
}
#btnNewCollection:hover{
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100&0.5+0,0.69+100;Wax+3D+%232 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(100,255,50,0.2) 0%,rgba(80,233,40,0.3) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,255,50,0.2) 0%,rgba(80,233,40,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(100,255,50,0.2) 0%,rgba(80,233,40,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fcfff4', endColorstr='#b0e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
#btnNewCollection:active{
	background-color:rgba(20,100,20,0.3);
}

#collectionMenuButtonsContainer{
	position:absolute;
	right:100px;
}

#rightSideButtonsContainer{
	float:right;
	margin-right:50px;
}

#bottomRightButtonsContainer{
	position:absolute;
	right:20px;
	top:10px;
}

div.rounded.superButton{
	padding:0px 15px;
	display:inline-block;
	padding:10px 15px;
	height:auto;
}

.pseudoButtonText{
	position:relative;
	margin:auto auto;
}

/*  spacers */
.spacer{
	display:block;
	position:relative;
	width:100%;
	height:100px;
	z-index:-1;
}
.spacer#top{
	top:0px;
	left:0px;
	height:120px;
}
.spacer#bottom{
	
}
/*			*/

#imageList{
	//border:solid 4px red;
	white-space:nowrap;
	padding-left:40px;
}

.column{
	vertical-align:top;
	
	display:inline-block;
	max-width:33%;
}

.imageBox{
	position:relative;
	height:auto;
	/*max-height:500px;*/
	width:auto;
	max-width:700px;
	display:none;
	vertical-align:top;
	
	/* border:solid 1px red; */
	white-space:nowrap;
	padding:0px;
	margin:15px 10px;
	cursor:pointer;
	
}

.loadError{
	border:solid 2px red;
	color:red;
	background-color:white;
}
.loadError:hover{
	background-color:rgba(255,0,0,0.2);
}

.imageBox:-webkit-full-screen{
	max-height:100%;
	max-width:100%;
	height:100%;
	width:100%;
	padding:0px;
	margin:09px;
}

.imageBox img,video{

	/*max-height:700px;*/
	width:100%;
	
	/*border-radius:15px;
	/* border:solid 10px red; 
	*/
}

#highlight{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:100;
}

.caption{
	position:absolute;
	bottom:3px;
	/*bottom:5px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;*/
	padding:10px;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	white-space:pre-wrap;
	word-wrap:break-word;
	display:none;
	box-sizing:border-box;
}	

.caption:hover{
	background-color:rgba(0,0,0,1);
	color:white;
}

.caption a{
	color:silver;
}

.caption a:hover{
	color:white;
}

span.captionText{
	
}

#FullScreenView{
	
	visibility:hidden;
	height:100%;
	width:100%;
	background-image:url('');
	background-size:contain;
	background-repeat:no-repeat;
	background-color:rgba(50,50,50,0);
	background-position:center;
}
#FullScreenView:-webkit-full-screen{
	visibility:visible;
}

#FullScreenView video{
	min-width:100%;
	min-height:100%;
	width:100%;
	height:100%;
	border-radius:0px; /* fix unknown issue with rounded corners */
}

#FullScreenView img:-webkit-full-screen{
	max-height:100%;
	max-width:100%;
	height:auto;
	width:auto;
}

#btnExitFullscreen{
	position:fixed;
	right:0px;
	background-color:rgba(0,0,0,0);
	color:gray;
	border:solid 1px gray;
	z-index:1000;
	
}
#btnExitFullscreen:hover{
	border-color:silver;
	color:silver;
}
#fsVolumeSlider{
	position:absolute;
	bottom:0px;
	height:100px;
	width:100%;
	background-color:gray;
}
#fsVolumeSliderContainer{
	position:fixed;
	bottom:80px;
	right:50px;
	width:50px;
	height:300px;
	background-color:rgba(0,0,0,0);
	border:solid 1px gray;
	z-index:1000;
	display:none;
}

#volumeSliderDialogContainer{
	display:block;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	z-index:1000;
}

#volumeSliderDialog{
	position:absolute;
	box-sizing:border-box;
	width:500px;
	height:120px;
	bottom:100px;
	margin:auto auto;
	box-shadow:4px 4px 4px rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.8);
	display:block;
	padding:40px 50px 50px 50px;
	color:whitesmoke;
}

#imgVolumeIcon{
	position:relative;
	display:inline;
	width:30px;
	height:30px;
}
#volumeSliderContainer{
	display:inline-block;
	width:300px;
	height:100%;
	border:solid 1px white;
	background-color:rgba(0,0,0,0);
	margin-left:20px;
}

#volumeSlider{
	background-color:white;
	height:100%;
	width:50px;
}

.btnDelete{
	display:inline-block;
	position:absolute;
	right:10px;
	top:10px;
	vertical-align:top;
	z-index:1; /* put on top of image */
	background-color:rgba(0,0,0,0.1);
	border:solid 3px silver;
	color:silver;
	
}

.btnDelete:hover{
	border-color:#fbfbfb; /* off white */
	background-color:rgba(100,100,100,0.4);
	color:white;
}

.btnUnmute{
	display:inline-block;
	position:absolute;
	left:10px;
	top:10px;
	vertical-align:top;
	z-index:1; /* put on top of image */
	background-color:rgba(0,0,0,0.1);
	border:solid 3px silver;
	color:silver;
}

.soundOn{
	border-color:limegreen;
	color:limegreen;
}

#dialogueParent{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:3;
	display:none;
}

.dialogue{
	position:relative;
	width:700px;
	max-height:70%;
	top:100px;
	margin:0 auto;
	box-shadow:4px 4px 4px rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.8);
	display:block;
	padding:20px 50px 30px 50px;
	color:whitesmoke;

}

.dialogue div{
	-webkit-touch-callout: text; /* iOS Safari */
	-webkit-user-select: text;   /* Chrome/Safari/Opera */
	-khtml-user-select: text;    /* Konqueror */
	-moz-user-select: text;      /* Firefox */
	-ms-user-select: text;       /* Internet Explorer/Edge */
	user-select: text; 
}

.dialogue h1{
	text-align: center;
	vertical-align: top;
}

.dialogue button{
	border:none;
	background-color:#333333;
	color:whitesmoke;
	
}

.okbutton{
	border:none;
	border-radius:7px;
	padding:12px 20px;
}
.dialogue button:hover{
	background-color:gray;
}

#d_Export span{ /* this is the span telling user what to do with the code */
	margin-bottom:20px;
	border-bottom:solid 1px gray;
	margin-top:20px;
}

#exportCode{
	position:relative;
	overflow:scroll;
	overflow-x:hidden;
	width:100%;
	height:400px;
	word-wrap:break-word;
	white-space:pre-line;
}

.closeButton{
	position:absolute;
	border:none;
	border-radius:7px;
	background-color:#333333;
	color:whitesmoke;
	padding:5px 10px;
	font-size:12pt;
	color:gray;
	top:0px;right:0px;
	margin:10px;
	border-radius:0px;
}

.closeButton:hover{
	border-color:silver;
	color:silver;
}

.closeButton:active{ /*pressed*/
	background-color:darkgray;
}

.btnEditCaption{
	position:absolute;
	bottom:5px;
	right:5px;
	background-color:transparent;
	border:none;
	color:gray;
	cursor:pointer;
	font-weight:bold;
	vertical-align:text-top;
}

.btnEditCaption:hover{
	color:whitesmoke;
}

#selectExportType{
	margin-left:10px;
	padding:10px;
	font-size:14pt;
}

.dialogue input{
	font-size:14pt;
}


textarea#txtEditCaption{
	display:block;
	width:80%;
	height:80%;
	margin-top:10px;
	margin-bottom:20px;
	bottom:0px;
}

.txtEditCaption{
	position:relative;
	display:block;
	width:90%;
	max-width:90%;
	height:3em;
	top:0px;
	overflow:auto;
	resize:none;
}

#captionThumbContain{
	position:relative;
	height:100%;
	max-height:300px;
	left:0px;
}

#d_EditCaption img#editCaptionThumbnail{
	max-height:100%;
	border-radius:10px;
	margin-bottom:20px;
	top:20px;
}

#helpIndexTabStrip{
	display:block;
	width:100%;
	height:40px;
	padding:10px;
}

.droplet{
	display:inline-block;
	padding:5px;
	border-radius:4px;
}

.helpIndexItem{
	margin-right:2px;
	font-size:12pt;
	border:solid 1px gray;
}
.helpIndexItem:hover{
	background-color:rgba(100,100,100,0.5);
}
.helpItemClicked{
	background-color:gray;
}
.helpItemClicked:hover{
	background-color:rgba(155,155,155,1);
}

#helpContent{
	color:white;
	line-height:1.5em;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-right:50px;
	height:400px;
	padding-right:40px;
}

.help_infobox{
	display:block;
	font-size:12pt;
	line-height:1em;
	border-top:solid 1px gray;
	margin-top:20px;
	color:gray;
	
}

.help_infobox:hover{
	color:white;
}

.okbutton{
	position:absolute;
	right:0px;
	bottom:0px;
	margin-right:20px;
	margin-bottom:20px;
	
}